.projectWrap {
  display: flex;
  flex-flow: column;
  width: 100%;

  margin: 30px 0;
}
.projectHeader {
  display: flex;
  width: 100%;
  padding: 40px 100px;
  align-items: center;
  justify-content: space-between;
}
.leftWrap p {
  color: #4f419a;
  margin: 0;
}
.leftWrap h4 {
  background: linear-gradient(to top, #e3dfff 50%, transparent 50%);
}
.rightWrap {
  display: flex;
  gap: 20px;
}
.iconBox {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0px;
  width: 170px;
  background-color: #4f419a;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 20px;
  justify-content: center;
  border-radius: 8px;
}
.iconBox p {
  display: flex;
  margin: 0;
  flex-flow: column;
  font-size: 28px;
  font-weight: bold;
  color: white;
}
.iconBox span {
  font-size: 16px;
  color: white;
  font-weight: 400;
}
.headIcon {
  background-color: #e3dfff;
  font-size: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  color: #4f419a;
}
.line {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 100px;
  justify-content: space-between;
  background-color: #f9f8ff;
}
.line p {
  margin: 0;
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}
.sliderWrap {
  display: flex;
  flex-flow: column;
  padding: 40px 100px;
}
.categoryBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 100px 30px 100px;
}
.categoryWrap {
  width: 100%;
  display: flex;
  border: 1px solid #4f419a;
  border-radius: 7px;
  align-items: center;
  justify-content: space-between;
}
.span {
  padding: 10px 20px;
  width: 100%;
  border-right: 1px solid #646464;
  text-align: center;
  background-color: white;
}
.spanActive {
  color: white;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  background-color: #4f419a;
}
.categoryWrap span:nth-child(1) {
  border-radius: 7px 0px 0px 7px;
}
.categoryWrap span:nth-child(7) {
  border-radius: 0px 7px 7px 0px;
}
.ReviewBox {
  display: flex;
  flex-flow: column;
  background-color: white;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 40px;

  height: 320px !important;
  gap: 20px;
  box-shadow: rgba(94, 94, 94, 0.241) 0px 1px 4px;
  justify-content: flex-start;
}
.header {
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: 10px;
  height: 110px;
  padding: 5px 20px;
  background-color: #f6f4ff;
  align-items: flex-start;
  justify-content: center;
}
.body {
  padding: 0px 20px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}
.header h5 {
  font-size: 22px;
  margin: 0;
  font-weight: 500;
  text-align: left;
  color: #4f419a;
}
.desc {
  text-align: left;
}
.desc p {
  width: 85%;
  margin: 0;
}
.tools {
  width: 100%;
  gap: 10px;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}
.react {
  color: #4f419a;
  background: white;
  font-size: 33px;
  border-radius: 4px;
  padding: 5px;
}
.mongo,
.node {
  color: green;
  background: white;
  font-size: 33px;
  border-radius: 4px;
  padding: 5px;
}
.database {
  color: red;
  background: white;
  font-size: 33px;
  border-radius: 4px;
  padding: 5px;
}

@media (max-width: 1281px) {
  .projectHeader {
    padding: 40px 40px;
  }
  .header h5 {
    font-size: 23px;
  }
  .sliderWrap {
    padding: 15px 40px;
  }
  .ReviewBox {
    height: 340px;
  }
}

@media (max-width: 1239px) {
  .desc p {
    width: 95%;
  }
}
@media (max-width: 801px) {
  .line {
    padding: 10px 40px;
  }
}

@media (max-width: 481px) {
  .projectHeader {
    padding: 20px;
    flex-flow: column;
  }
  .projectWrap h4 {
    text-align: center;
    width: max-content;
  }
  .leftWrap {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .iconBox {
    width: 130px;
  }
  .line {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: column;
  }
  .line div {
    width: 230px;
    display: flex;
    justify-content: flex-start;
  }
  .line div p {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 15% 85%;
  }
  .header h5 {
    font-size: 18px;
  }
  .ReviewBox {
    height: 350px !important;
    border-radius: 8px;
    border: 2px solid #4f419a;
    background-color: white;
    justify-content: flex-start;
  }
  .desc p {
    width: 98%;
  }
}
